<section>
  <h1>{{ title1 }}</h1>
  <p>Total: {{ 5 + 5 }}</p>
  <img width="150" height="150" src="{{ url }}" alt="">
<router-outlet></router-outlet>
<app-button />
</section>

<section>
  <h1>{{ title2 }}</h1>
  <p>El nombre es {{ name }}</p>
  <input type="text" [(ngModel)]="name">
</section>

<section>
  <h1>{{ title3 }}</h1>
  <ul>
      <li>Barcelona</li>
      <li>Madrid</li>
      <li>Malaga</li>
      <li>Pamplona</li>
      <li>Cádiz</li>
      <li>Sevilla</li>
  </ul>
  <ul *ngFor=" let city of cities">
      <li>{{city}}</li>
  </ul>
  <ul *ngFor=" let num of [0,1,2,3,4,5]">
      <li>{{num}}</li>
  </ul>
  <p *ngIf="pais">El nombre del país es {{ pais }}</p>
  <input type="text" [(ngModel)]="pais">
</section>

<section>
  <h1>{{ title4 }}</h1>
  <ul *ngFor=" let city of cities">
      <li [ngClass]="['selected', 'blue']">{{city}}</li>
  </ul>
  <ul *ngFor=" let city of cities">
      <li [ngStyle]="{'color': 'red','background-color': city === 'Madrid' ? 'blue' : 'green'}">{{city}}</li>
  </ul>
  <ul *ngFor=" let num of [0,1,2,3,4,5]">
      <li [ngClass]="{'selected': num === 1, 'blue': num !== 1}">{{num}}</li>
  </ul>
</section>

